<h1>Basic Chat Room with Action Cable</h1>
<section id="messages">
  <%= render @messages %>
</section>

<form>
  <label>Say something</label><br>
  <input type="text" data-behavior="room_speaker">
</form>